<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <sectionGroup name="feeds">
        <section name="rss" type="System.Configuration.NameValueSectionHandler"/>
        <section name="atom" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>    
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <feeds>
      <rss>
        <add key="BBC" value="http://feeds.bbci.co.uk/news/rss.xml"/>
        <add key="CNN" value="http://rss.cnn.com/rss/edition.rss"/>
        <add key="ABC-INT" value="http://feeds.abcnews.com/abcnews/internationalheadlines"/>
        <add key="ABC-MOST-READ" value="http://feeds.abcnews.com/abcnews/mostreadstories"/>
      </rss>
      <atom>
        <add key="USGS-ALL-QUAKES" value="http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.atom"/>
      </atom>
    </feeds>
    <appSettings>
      <add key="defaultStoriesCount" value="5"/>
      <add key="defaultFeedName" value="BBC"/>
      <add key="rssStoryNode" value="//channel/item"/>
      <add key="atomNSPrefix" value="atom"/>
      <add key="atomStoryNodeName" value="entry"/>
    </appSettings>
</configuration>